@use './reset.scss';

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-image: url('bg.jpg');
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.head-container {
  display: inline-block;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.svg-head {
  height: 100%;
}

.svg-left-pupil {
  position: absolute;
  left: 0;
  top: 0;
}

.svg-right-pupil {
  position: absolute;
}
