@use './reset.scss';

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-image: url('bg.jpg');
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.headline {
  position: absolute;
  text-align: center;
  font-size: 10vw;
  bottom: 5vh;
  animation: color-change 1s infinite;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: green; }
}

.head-container {
  display: inline-block;
  height: 70vh;
  transition: transform 0.5s ease-in-out;
}

.svg-head {
  height: 100%;
}

.svg-left-pupil {
  position: absolute;
  left: 0;
  top: 0;
}

.svg-right-pupil {
  position: absolute;
}
